<h1>List Reports</h1>
<table border="2">
  <thead>
    <tr>
      <th>No</th>
      <th>Reported User</th>
      <th>By User</th>
      <th>Reason</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= link_to report.reported.name, user_path(report.reported.id) %></td>
        <td><%= link_to report.reporter.name, user_path(report.reporter.id) %></td>
        <td><%= report.reason %></td>
        <td>
          <a href="<%= block_user_path(report.reported.id) %>" onclick="block_user(<%= report.reported.id %>)" >
          Yes</b>
          </a>
        </td>
        <td><%= link_to 'Reject', users_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>